<div>
  <%= image_tag @post_image.get_image %>
  <p>ショップ名：<%= @post_image.shop_name %></p>
  <p>説明：<%= @post_image.caption %></p>
  <p>投稿ユーザー画像：<%= image_tag 'sample-author1.jpg' %></p>
  <p>ユーザーネーム：<%= @post_image.user.name %></p>
  <!--'%Y/%m/%d'の記述で、年/月/日のフォーマットへ変換します。 %Y、%m、%dは、日時のフォーマット指定によく使われます。覚えておきましょう。-->
  <p>投稿日：<%= @post_image.created_at.strftime('%Y/%m/%d') %></p>

  <!--もし、投稿者 == 現在ログインしているユーザ だったら-->
  <!--    削除ボタン-->
  <!--終わり-->
  <% if @post_image.user == current_user %>
    <!--削除機能の作成は終わりましたが、これでは削除を実行する手段がないため、詳細画面に削除を実行するためのリンクを追記します。-->
    <%= link_to "削除", post_image_path(@post_image), method: :delete %>
  <% end %>
</div>